
# dependencies
/node_modules

# testing
/coverage

# production
/build

# Public
/public

# Environment variable 
.env
*.env

# Ignore all files in .yarn except specific folders
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore the Yarn 2/3 generated PnP files
.pnp.*


# # misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
.vercel

/.yarn

# log files
/logs
logs/app.csv

# wa_auth folder all files
/wa_auth/*

# Temporary data files
/tmp/*.json

# Data exports
*.csv